@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  background: url(/images/homepage-images/header-images/Symbol.png), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-position: top, center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  padding: 50px 160px 0px 160px;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .menu .menu__info {
  display: flex;
}
nav .menu .menu__info .info__language a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 10px;
}
nav .menu .menu__info a:not(.language__item):hover {
  color: #F0145A;
}
nav .menu .menu__info .language__item {
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  background: #F0145A;
}
nav .menu .menu__info .info__dot-img {
  margin-left: 6px;
  margin-right: 6px;
}
nav .menu .menu__info .info__address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #FFFFFF;
}
nav .menu .menu__info .info__tel a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}
nav .menu .menu__links {
  display: flex;
  justify-content: flex-end;
}
nav .menu .menu__links a {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}
nav .menu .menu__links a:hover {
  color: #F0145A;
}

.header__headline {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.header__headline h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.header__scroll-btn {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.header__scroll-btn .scroll-btn__usual {
  position: absolute;
}
.header__scroll-btn .scroll-btn__hover {
  display: none;
}

.header__scroll-btn:hover .scroll-btn__usual {
  display: none;
}
.header__scroll-btn:hover .scroll-btn__hover {
  display: flex;
  position: absolute;
}

.header__consistent {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  height: 300px;
}
.header__consistent .consistent__headlines {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  border-right: 2px solid #FFFFFF;
}
.header__consistent .consistent__headlines .headline__consistent {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: right;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.header__consistent .consistent__headlines a {
  margin-bottom: 30px;
}
.header__consistent .consistent__headlines a:not(.headline__consistent) {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: right;
  color: #B3B3BA;
}
.header__consistent .consistent__headlines a:not(.headline__consistent):hover {
  color: #F0145A;
}
.header__consistent .consistent-text {
  margin-left: 60px;
}
.header__consistent .consistent-text .consistent-text__headline {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
.header__consistent .consistent-text .consistent-text__caption {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  height: 90px;
  max-width: 861px;
}

.header__services-link {
  margin-left: 160px;
  margin-top: 75px;
}
.header__services-link a {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
}
.header__services-link a:hover {
  color: #F0145A;
}

.header__better-headline {
  margin-left: 160px;
  margin-top: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header__cards-container {
  display: flex;
  margin: 60px 150px 0 90px;
  flex-wrap: wrap;
}
.header__cards-container .cards-container__card {
  margin-left: 60px;
  margin-bottom: 100px;
}
.header__cards-container .cards-container__card .card__image {
  width: 92px;
  height: 92px;
}
.header__cards-container .cards-container__card .cards-container__cards-headline {
  margin-top: 30px;
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  max-width: 250px;
}
.header__cards-container .cards-container__card .cards-container__cards-caption {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  max-width: 365px;
  margin-top: 15px;
}

.header__line-container {
  display: flex;
  justify-content: center;
}

.header__bottom-line-1 {
  width: 99%;
  background-color: #CACADB;
  height: 5px;
  border-radius: 2px;
}

.header__bottom-line-2 {
  background-color: #E7E7F2;
  height: 5px;
  width: 98%;
  border-radius: 2px;
}

main {
  padding: 0 100px;
  width: 100%;
}
main .main__team-container {
  display: flex;
  margin-top: 60px;
}
main .main__team-container .team-container__text-container {
  margin-left: 30px;
}
main .main__team-container .team-container__text-container .text-container__link a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  color: #24A3FF;
}
main .main__team-container .team-container__text-container .text-container__text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
main .main__team-container .team-container__text-container .text-container__caption {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #B3B3BA;
}
main .main__team-container .team-container__text-container .text-container__head-partner {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #B3B3BA;
}
main .main__ellipse-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main .main__ellipse-container .ellipse {
  margin-left: 15px;
}
main .logos {
  margin-top: 60px;
  max-width: 1200px;
}
main .logos .logos__wrapper {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
main .logos .logos__wrapper h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #323264;
}
main .logos .logos__wrapper .logos__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
main .logos .logos__wrapper .logos__icons .logos__icons__box {
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .logos .logos__wrapper .logos__icons .icon-hillel {
  background-color: #1C4280;
}
main .logos .logos__wrapper .logos__icons .icon-wannabiz {
  background-color: #143646;
}
main .logos .logos__wrapper .logos__icons .icon-tapgerine {
  background-color: #F48B30;
}
main .logos .logos__wrapper .logos__icons .icon-3d-look {
  background-color: #9E4DC3;
}
main .logos .logos__wrapper .logos__icons .icon-orangear {
  background-color: #FD9339;
}
main .logos .logos__wrapper .logos__icons .icon-adtelligent {
  background-color: #E2E2E4;
}
main .logos .logos__wrapper .logos__icons .icon-clickky {
  background-color: #C71C36;
}
main .logos .logos__wrapper .logos__icons .icon-eco-leasing {
  background-color: #DCF3F9;
}
main .logos .logos__wrapper .logos__icons .icon-infratek {
  background-color: #EAEAEA;
}
main .logos .logos__wrapper .logos__icons .icon-city-park {
  background-color: #282240;
}
main .logos .logos__wrapper .logos__icons .icon-art-print {
  background-color: #1D4568;
}
main .logos .logos__wrapper .logos__icons .icon-ultimate-gold {
  background-color: #000000;
}
main .main__publications {
  margin-left: 60px;
  margin-top: 90px;
}
main .main__publications .publications__link a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24A3FF;
}
main .main__publications .publications__headline {
  margin-top: 10px;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}
main .main__publications .publications__news {
  margin-top: 30px;
  display: flex;
}
main .main__publications .publications__news .news__block {
  width: 430px;
  display: flex;
  flex-direction: column;
}
main .main__publications .publications__news .news__block .news__img img {
  max-width: 400px;
}
main .main__publications .publications__news .news__block .news__headline {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 30px;
}
main .main__publications .publications__news .news__block .news__date {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 15px;
}
main .main__publications .publications__news .news__block .news__text {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 4px solid #E6E6F0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
main .main__publications .publications__news .news__block:nth-child(2),
main .main__publications .publications__news .news__block:nth-child(3) {
  margin-left: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 160px 0 160px;
  border-top: 2px solid #E6E6F0;
  padding: 30px 0;
}
footer .footer__contact .contact__address {
  display: flex;
}
footer .footer__contact .contact__address p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}
footer .footer__contact .contact__address .address__dot-img {
  margin: 0 10px;
}
footer .footer__contact .contact__address .address__map-link a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #24A3FF;
}
footer .footer__contact .contact__info {
  display: flex;
  margin-top: 20px;
}
footer .footer__contact .contact__info .info__FB-img img {
  max-width: 38px;
  max-height: 38px;
}
footer .footer__contact .contact__info .info__dot-img {
  margin: 0 10px;
}
footer .footer__contact .contact__info .info__tel a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #46466E;
}
footer .footer__contact .contact__info .info__e-mail a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #24A3FF;
}
footer .contact__rights {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #B3B3BA;
}

.burger {
  display: none;
  position: absolute;
  right: 20px;
}

.nav__mobile {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(245, 245, 250, 0.2);
}
.nav__mobile .mobile__language a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 10px;
}

@media all and (max-width: 1450px) {
  .main__publications {
    margin-left: 0px !important;
  }
  main {
    padding: 50px !important;
  }
}
@media all and (max-width: 1315px) {
  main {
    padding: 0px !important;
  }
}
@media all and (max-width: 1150px) {
  nav {
    flex-direction: column-reverse;
  }
  .menu__links {
    justify-content: flex-start !important;
    margin-bottom: 30px;
  }
  .consistent-text__caption {
    max-width: 350px !important;
    height: 250px !important;
  }
  .consistent-text__headline {
    max-width: 350px !important;
  }
  .news__block {
    width: 200px !important;
  }
  .news__img img {
    max-width: 200px !important;
  }
  .publications__news {
    display: flex;
    justify-content: space-evenly;
  }
}
@media all and (max-width: 800px) {
  nav {
    flex-direction: row;
  }
  .menu {
    visibility: hidden;
  }
  .burger {
    display: flex;
  }
  nav {
    padding: 70px 15px 0 15px;
  }
  .nav__mobile {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 15px 20px;
  }
  .nav__mobile .mobile__tel a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
  }
  .nav__mobile .mobile__language .language__item {
    border-radius: 8px;
    padding: 5px 7px 5px 7px;
    background: #F0145A;
  }
  .nav__mobile .mobile__language a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 10px;
  }
  .nav__mobile a:not(.language__item):hover {
    color: #F0145A;
  }
  header {
    overflow: hidden;
  }
  header .header__consistent {
    display: flex;
    flex-direction: column;
  }
  header .header__consistent .consistent__headlines {
    display: flex;
    flex-direction: row;
    border: none;
    margin-top: 90px;
  }
  header .header__consistent .consistent__headlines a {
    margin-left: 30px;
    width: 600px;
    font-size: 30px;
  }
  header .header__consistent .consistent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin: 0 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
  }
  header .header__consistent .consistent-text .consistent-text__headline {
    font-size: 25px;
  }
  header .header__consistent .consistent-text .consistent-text__caption {
    font-size: 20px;
    height: 250px;
  }
  header .header__services-link {
    margin: 150px 0 0 30px;
  }
  header .header__better-headline {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
  header .header__cards-container {
    margin: 30px 0 0 0;
    justify-content: center;
  }
  main .main__team-container {
    display: flex;
    flex-direction: column;
  }
  main .main__team-container .team-container__image {
    margin: 30px 0 30px 60px;
  }
  main .main__team-container .team-container__image img {
    width: 80%;
  }
  main .main__team-container .team-container__text-container .text-container__text {
    font-size: 30px;
  }
  main .main__publications {
    margin-left: 30px;
  }
  main .main__publications .publications__news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .main__publications .publications__news .news__block {
    margin: 30px 0 0 0 !important;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__contact .contact__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__contact .contact__address .address__map-link {
    margin-top: 10px;
  }
  footer .footer__contact .contact__address .address__dot-img {
    display: none;
  }
  footer .footer__contact .contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__contact .contact__info .info__dot-img {
    display: none;
  }
  footer .footer__contact .contact__info .info__tel {
    margin-top: 10px;
  }
  footer .footer__contact .contact__info .info__e-mail {
    margin-top: 10px;
  }
  footer .contact__rights {
    margin-top: 30px;
  }
}
@media all and (max-width: 360px) {
  .consistent-text__caption {
    height: 400px !important;
  }
}
@media all and (max-width: 1140px) {
  main {
    padding: 0;
  }
  main .main__team-container {
    margin: 0 30px;
  }
  main .logos {
    padding: 0;
  }
  main .logos .logos__wrapper {
    margin: 0;
  }
  main .logos .logos__wrapper .logos__icons {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  main .logos .logos__wrapper .logos__icons .logos__icons__box {
    padding: 0;
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  main {
    padding: 0;
  }
  main .main__team-container {
    margin: 0 30px;
  }
  main .logos {
    padding: 0;
  }
  main .logos .logos__wrapper {
    margin: 0;
  }
  main .logos .logos__wrapper .logos__icons {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  main .logos .logos__wrapper .logos__icons .logos__icons__box {
    padding: 0;
    width: 100%;
  }
}
@media all and (max-width: 575px) {
  main {
    padding: 0;
  }
  main .main__team-container {
    margin: 0 30px;
  }
  main .logos {
    padding: 0;
  }
  main .logos .logos__wrapper {
    margin: 0;
  }
  main .logos .logos__wrapper .logos__icons {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  main .logos .logos__wrapper .logos__icons .logos__icons__box {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */