@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: url(/images/header-images/Symbol.png), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-position: top, center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  padding: 50px 160px 0px 160px;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .menu .menu__info {
  display: flex;
}
nav .menu .menu__info .info__language a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 10px;
}
nav .menu .menu__info a:not(.language__item):hover {
  color: #F0145A;
}
nav .menu .menu__info .language__item {
  border-radius: 8px;
  padding: 5px 7px 5px 7px;
  background: #F0145A;
}
nav .menu .menu__info .info__dot-img {
  margin-left: 6px;
  margin-right: 6px;
}
nav .menu .menu__info .info__address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #FFFFFF;
}
nav .menu .menu__info .info__tel a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #FFFFFF;
}
nav .menu .menu__links {
  display: flex;
  justify-content: flex-end;
}
nav .menu .menu__links a {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}
nav .menu .menu__links a:hover {
  color: #F0145A;
}

.header__headline {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.header__headline h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.header__scroll-btn {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.header__scroll-btn .scroll-btn__usual {
  position: absolute;
}
.header__scroll-btn .scroll-btn__hover {
  display: none;
}

.header__scroll-btn:hover .scroll-btn__usual {
  display: none;
}
.header__scroll-btn:hover .scroll-btn__hover {
  display: flex;
  position: absolute;
}

.header__consistent {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  height: 300px;
}
.header__consistent .consistent__headlines {
  padding-right: 60px;
  border-right: 2px solid #FFFFFF;
}
.header__consistent .consistent__headlines .headline__consistent {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: right;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.header__consistent .consistent__headlines h3 {
  margin-bottom: 30px;
}
.header__consistent .consistent__headlines h3:not(.headline__consistent) {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: right;
  color: #B3B3BA;
}
.header__consistent .consistent__headlines h3:not(.headline__consistent):hover {
  color: #F0145A;
}
.header__consistent .consistent-text {
  margin-left: 60px;
}
.header__consistent .consistent-text .consistent-text__headline {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.header__consistent .consistent-text .consistent-text__caption {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  height: 90px;
  max-width: 861px;
}

.header__services-link {
  margin-left: 160px;
  margin-top: 75px;
}
.header__services-link a {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
}
.header__services-link a:hover {
  color: #F0145A;
}

.header__better-headline {
  margin-left: 160px;
  margin-top: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header__cards-container {
  display: flex;
  margin: 60px 150px 0 90px;
  flex-wrap: wrap;
}
.header__cards-container .cards-container__card {
  margin-left: 60px;
  margin-bottom: 100px;
}
.header__cards-container .cards-container__card .card__image {
  width: 92px;
  height: 92px;
}
.header__cards-container .cards-container__card .cards-container__cards-headline {
  margin-top: 30px;
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  max-width: 250px;
}
.header__cards-container .cards-container__card .cards-container__cards-caption {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  max-width: 365px;
  margin-top: 15px;
}

.header__line-container {
  display: flex;
  justify-content: center;
}

.header__bottom-line-1 {
  width: 99%;
  background-color: #CACADB;
  height: 5px;
  border-radius: 2px;
}

.header__bottom-line-2 {
  background-color: #E7E7F2;
  height: 5px;
  width: 98%;
  border-radius: 2px;
}

main {
  padding: 0 100px;
}
main .main__team-container {
  display: flex;
  margin-top: 60px;
}
main .main__team-container .team-container__text-container {
  margin-left: 30px;
}
main .main__team-container .team-container__text-container .text-container__link a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: left;
  color: #24A3FF;
}
main .main__team-container .team-container__text-container .text-container__text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
main .main__team-container .team-container__text-container .text-container__caption {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #B3B3BA;
}
main .main__team-container .team-container__text-container .text-container__head-partner {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #B3B3BA;
}
main .main__ellipse-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main .main__ellipse-container .ellipse {
  margin-left: 15px;
}
main .main__already-headline {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
main .main__already-headline h5 {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
}
main .main__partners-pics {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
}
main .main__publications {
  margin-left: 60px;
  margin-top: 90px;
}
main .main__publications .publications__link a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: #24A3FF;
}
main .main__publications .publications__headline {
  margin-top: 10px;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}
main .main__publications .publications__news {
  margin-top: 30px;
  display: flex;
}
main .main__publications .publications__news .news__block {
  width: 430px;
}
main .main__publications .publications__news .news__block .news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */